@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');

:root {
  --bg-color: #1a1818;
  --secondary-color: rgb(17, 17, 17);
  --text-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
}

h1 {
  margin: 1rem 0;
  font-size: 27px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px - 64px);
}

/* form */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  padding: 1.5rem;
  background: var(--secondary-color);
  width: 500px;
}

input {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background: rgb(117, 117, 117);
  border: none;
  border-radius: 10px;
  color: black;
  outline: none;
  font-size: 1.2rem;
}

::placeholder {
  color: rgb(223, 223, 223);
  font-size: 1.01rem;
}

.btn {
  outline: none;
  display: inline-block;
  background: #757575;
  border: none;
  color: var(--text-color);
  margin: 1rem 0;
  padding: 0.4rem 0.7rem;
  border-radius: 10px;
  transition: background 0.4s ease;
  font-size: 1.1rem;
  cursor: pointer;
}

.btn:hover {
  background: #252323;
}

/* Navbar */
.nav {
  background: var(--secondary-color);
  height: 60px;
  padding: 1rem;
  width: 100%;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-btn {
  padding: 0.5rem 1rem;
  transition: all 0.7s ease;
}

.link-btn:hover {
  background: rgb(43, 43, 43);
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
