@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');

:root {
  --bg-color: #1a1818;
  --secondary-color: rgb(17, 17, 17);
  --text-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
}

h1 {
  margin: 1rem 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/* form */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
  margin: 1rem 0;
  padding: 1rem 0;
}

/* Navbar */
.nav {
  background: var(--secondary-color);
  height: 60px;
  padding: 1rem;
  width: 100%;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-btn {
  padding: 0.5rem 1rem;
  transition: all 0.7s ease;
}

.link-btn:hover {
  background: rgb(43, 43, 43);
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
